
<div class="row" >
  <div class="col-lg-3">
    <mat-form-field appearance="outline">
      <mat-label>Date de debut</mat-label>
      <input type="date" class="form-control" matInput name="dateDebut" [(ngModel)] = "dateDebut" (change)="onFIlterListe()">
    </mat-form-field>
  </div>

  <div class="col-lg-3">
    <mat-form-field appearance="outline">
      <mat-label>Date de Fin</mat-label>
      <input type="date" class="form-control" matInput name="dateDebut" [(ngModel)] = "dateFin" (change)="onFIlterListe()">
    </mat-form-field>
  </div>
</div>

<div class="card">

  <div class="card-body">
    <div class="row">
      <div class="col-3">

      </div>
    </div>
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>Date</th>
        <th>Numero</th>
        <th>Nom patient</th>
        <th>Prénom patient</th>
        <th>Téléphone</th>
        <th>Société</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let facture of filtredFactures">
        <td>{{ facture.createAt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{ facture.numero}}</td>
        <td>{{ facture.patient.nom }}</td>
        <td>{{ facture.patient.prenom }}</td>
        <td>{{facture.patient.tel1}}</td>
        <td>{{facture.patient.entreprise?.nom}}</td>
        <td>
          <a routerLink="../print-facture-client/{{facture.id}}" class="btn btn-sm btn-primary mr-1">Facture</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
