
<mat-form-field appearance="fill">
  <mat-label>Font size</mat-label>
  <mat-select >
    <mat-option value="10px">10px</mat-option>
    <mat-option value="12px">12px</mat-option>
    <mat-option value="14px">14px</mat-option>
    <mat-option value="16px">16px</mat-option>
    <mat-option value="18px">18px</mat-option>
    <mat-option value="20px">20px</mat-option>
  </mat-select>
</mat-form-field>

<form >




  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>
  <div></div>


  <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>

