<div class="card">
  <div class="card-header text-white bg-primary">Liste des bons de commandes</div>
  <div class="card-body">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>Reference</th>
        <th>Date </th>
        <th>Founisseur</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bonCommande of bonCommandes">
        <td>{{ bonCommande.reference }}</td>
        <td>{{ bonCommande.createAt }}</td>
        <td>{{ bonCommande.fournisseur.nom}}</td>
        <td style="white-space: nowrap">
<!--          <a routerLink="../update-bonCommande/{{bonCommande.id}}" class="btn btn-sm btn-primary mr-1">Modifier</a>-->
          <button (click)="deleteBonCommande(bonCommande.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="false">
            <span>Supprimer</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
