<div id="facture">
  <h1>LOGO</h1>
  <br/> <br/>
 <h3 id="titre">FACTURE PROFORMA</h3>

  <div id="contenu">
    <div id="numero">numero</div>
    <div id="datejour">date jour1</div>
    <br/> <br/> <br/>
    <div id="div_prescription">
      <table>
        <tbody>
        <tr>Numero</tr>
        <tr><span id="nomprescripteur">nomprescripteur</span></tr>
        <tr>Date prescription</tr>
        <tr>date</tr>
        </tbody>
      </table>
    </div>
    <div id="div_patien">
      <table>
        <tbody>
        <tr>
          <td>Patient</td>
          <td></td>
        </tr>
        <tr>
          <td>Télephone</td>
          <td></td>
        </tr>
        <tr>
          <td>Assurance</td>
          <td></td>
        </tr>
        <tr>
          <td>Société</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
    <br/> <br/>
    <div id="div_commande" >
      <table style="width: 830px">
        <thead>
        <tr>
          <th>DESIGNATION</th>
          <th>QTE</th>
          <th>PU</th>
          <th>REMISE</th>
          <th>MONTANT</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><span id="verre">Verres</span></td>
        </tr>
        <tr>
          <td>OG: xxxxxxxxxxxxxxxxxxxxxxxxxx</td>
          <td></td>
        </tr>
        <tr>   .</tr>
        <tr>
          <td>OD: xxxxxxxxxxxxxxxxxxxxxxxxxx</td>
          <td></td>
        </tr>
        <tr>   .</tr>
        <tr>
          <td><span id="Monture">Monture</span></td>
        </tr>
        <tr>
          <td>YYuyyyyyyyyyyyyyyyyyyyyyyyyyyyy</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div id="div_recap">
      <table>
        <tbody>
        <tr>
          <td>Montant HT</td>
          <td></td>
        </tr>
        <tr>
          <td>Remise</td>
          <td></td>
        </tr>
        <tr>
          <td>Taxe</td>
          <td></td>
        </tr>
        <tr>
          <td>Net</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>

    <P>Arreté cette proforma à la somme dewheo hwefhiowe fiuiwefiuwegfoqweifihq efiuew9fho we9fyowehfqweioud wedguiwehidweiu fdwejfuiwegfowe ofhowehfiwegfwe fowegfui </P>
    <P id="opticien">L'OPTICIEN</P>

  </div>
  <div class="footer">
    <div id="sct">Société au capital Social de : 20 000 000 000 FCFA</div>
    <table>
      <tbody>
      <tr>
        <td></td>
        <td>
          <div>Siège social</div>
          <div>1897, Boulevard de la République</div>
          <div>BP: 15770 Douala - Cameroun</div>
          <div>+237 233 427 500</div>
        </td>
        <td></td>
        <td>
          <div>Agence de Bonamoussadi</div>
          <div>Rond point Maetur, face</div>
          <div>station service OLA ENERGY</div>
          <div>+237 233 479 774</div>
        </td>
        <td></td>
        <td><div>skylunetterie@gmail.com</div></td>
        <td></td>
        <td>
          <div>N° RC/DLA/TC/2015/B/4097</div>
          <div>N° Cont: M121512468581 M</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>





