
<div class="card col-lg-6 offset-lg-3">
    <div *ngIf="isAddMode" class="card-header text-white bg-primary mb-3">
        Ajouter un prescripteur
    </div>
    <div *ngIf="!isAddMode" class="card-header text-white bg-primary mb-3">
        Modifier prescripteur
    </div>
    <div class="card-body">
        <form [formGroup]="prescripteurForm" (ngSubmit)="onSubmitForm()">

            <!--<div class="form-group">
                <label for="titre">Titre </label>
                <select id="titre" class="form-select" value="Mr" formControlName="titre" >
                    <option value="Mr">Mr.</option>
                    <option value="Mme">Mme.</option>
                    <option value="Mxlle">Mxlle.</option>
                    <option value="Dr">Dr.</option>
                    <option value="Pr">Pr.</option>
                </select>
            </div>-->

            <div class="form-group">
                <label for="nom">Nom*</label>
                <input type="text" id="nom" class="form-control" formControlName="nom"  [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
                <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                    <div *ngIf="f.nom.errors.required">Veuillez renseigner le nom</div>
                </div>
            </div>


            <br/>
            <div >
                <button class="btn btn-secondary col-md-5" type="reset" (click)="onReset()">Reset</button>
                <button type="submit" class="btn btn-primary col-md-5 offset-md-2" >Enregistrer</button>
            </div>

        </form>
    </div>
</div>
